body {
  font-family: 'Segoe UI', sans-serif;
}

nav {
  background-color: #198754; /* Bootstrap success green */
}

nav a:hover {
  text-decoration: underline;
  color: #d4edda;
}

.carousel-item img {
  width: 100%;
  height: 500px;           /* фіксована висота */
  object-fit: cover;       /* обрізає зображення, щоб не спотворювати */
}
